.about {
  width: 1240px;
  height: 223px;

  margin: 0 auto;

  border-radius: 25px;

  background-image: url("../assets/about.svg");
  background-size: cover;
  background-position: center;
}

.collapse-about {
  width: 956px;

  margin: 30px auto;

  display: flex;
  flex-direction: column;
  gap: 20px;
}