.about {
  width: 100%;
max-width: 1240px;
  height: 223px;

  margin: 0 auto;

  border-radius: 25px;

  background-image: url("../assets/about.svg");
  background-size: cover;
  background-position: center;
}

.collapse-about {
  width: 956px;

  margin: 30px auto;

  display: flex;
  flex-direction: column;
  gap: 20px;
}
/* RESPONSIVE */

@media screen and (max-width: 768px) {

  .about {
    height: 150px;
    border-radius: 10px;
    margin: 0 auto;
 background-size: cover;

   
  }

  .collapse-about {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    gap: 20px;
  }

}