.about {
  align-items: center;
  gap: 38px;
  width: 1240px;
  height: 223px;
  border-radius: 25px;
   margin: 0 auto;
  background-image: url("../assets/about.svg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
 }
 .collapse-about {
  width: 956px;
  
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}