.carrousel {
  width: 1240px;
  height: 415px;
  border-radius: 25px;
  overflow: hidden;
}

.arrow {
  width: 46px;
  height: 79px;
  cursor: pointer;
}

.title {
  color: #ff6060;
  font-size: 36px;
  font-weight: 500;
}

.text {
  font-size: 18px;
}

.tags {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.tag {
  background: #ff6060;
  color: white;
  border-radius: 10px;
  padding: 5px 10px;
}

.logement-header {
  width: 1240px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.host {
  display: flex;
  align-items: center;
  gap: 10px;
}

.host img {
  width: 64px;
  height: 64px;

  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.host-split {
  display: flex;
  flex-direction: column;
  text-align: right;
  gap: 0px;
  color: #ff6060;
}
.host-split p {
  margin: 0;
}

.logement-collapse {
  width: 1240px;
  margin: 30px auto;
  display: flex;
  gap: 20px;
}

.logement-collapse .collapse {
  flex: 1;
}