.collapse {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
}

.collapse-button {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 20px 10px 15px;

  background: #ff6060;
  color: white;

  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;

  cursor: pointer;
}

.collapse-content {
  padding: 15px;

  background: white;
  color: black;

  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
}

.arrow-collapse {
  width: 32px;
  height: 32px;
  transition: transform 0.3s ease;
}

.arrow-collapse.open {
  transform: rotate(180deg);
}
@media screen and (max-width: 768px) {
  .collapse-button {
    font-size: 14px;
    padding: 10px 15px;
  }

  .collapse-content {
    font-size: 14px;
    padding: 12px;
  }

  .arrow-collapse {
    width: 24px;
    height: 24px;
  }
}