.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  padding: 40px 20px;

  background-color: black;
  gap: 20px;

  box-sizing: border-box;
}

.footer-img {
  width: 120px;
  height: auto;
  object-fit: contain;
}

/* MOBILE */
@media screen and (max-width: 768px) {
  .footer {
    padding: 20px;
    gap: 10px;
  }

  .footer-img {
    width: 100px;
  }
}